footer {
    padding: 60px 0;
    background: var(--black, #232536);

    .nav-items {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .links {
        display: flex;
        justify-content: center;
        align-items: center;

        ul {
            display: flex;
            list-style: none;

            li {
                a {

                    text-decoration: none;
                    margin-right: 24px;
                    color: var(--light, #FFF);

                    /* Body 1 */
                    font-family: Inter;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 28px;

                    /* 175% */
                    &:hover {
                        color: #FFD050;
                    }
                }
            }
        }
    }


    
    .box {
        width: 100%;
        margin-top: 57px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 80px 64px;
        background-color: #2e3040;

        .title {
            color: #FFF;
        }

        .input {
            border: 1px solid var(--dark-grey, #4C4C4C);
            padding-top: 14px;
            padding-bottom: 14px;
            padding-left: 25px;
            background: #2e3040;
            color: var(--medium-grey, #6D6E76);

            /* Body 1 */
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;
            /* 175% */
            outline: none;
        }

        .input-form {
            display: flex;
        }

        .yellow-button {
            margin-left: 24px;
        }
    }

    .end-side {
        margin-top: 48px;
        display: flex;
        justify-content: center;
        align-items: center;

        .items {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            img{
                cursor: pointer;
                margin-left: 27px;
            }
        }
    }
    .desc{
        margin: 0;
    }
}